*{
    /* box-sizing:border-box; */
    margin: 0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif ;
}

.navbar{
    background: linear-gradient(to right, #161616, black);
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: /*fixed;*/sticky;
    top: 5;
    right: 0;
    z-index: 999;/*1*/

}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    /* padding: 8px 8px 8px 32px; */
  
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
background: linear-gradient(to right, #ff6a00, #ee0979); 
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0; 
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {

    margin-left: 1130px;
    font-size: 40px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    /* padding-left: 100px;
    padding-right: 100px; */
    border: none;
  }
  
  .openbtn:hover {
    background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
background: linear-gradient(to right, #ff6a00, #ee0979); 
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  

.navbar_container{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left:0;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar__logo{
    background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
background: linear-gradient(to right, #ff6a00, #ee0979); 
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-text-fill-color: transparent;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 35px;
}
.fa-sports{
    margin-right: 8px;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

    

}
.navbar_item{
    height: 80px;
}
.navbar_links{
   color: white;/*linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);*/
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   padding: 0 16px;
   height: 100%;
}

.navbar_btn{
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width:100%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width:100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgba(240, 236, 236, 0.973);
    color: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.button:hover{
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
    background: linear-gradient(to right, #ff6a00, #ee0979); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.3s ease;
}

.navbar_links:hover{
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
    background: linear-gradient(to right, #ff6a00, #ee0979); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar_container {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: linear-gradient(to top, #ff0844 0%, #ffb199 100% ); 
    }
    .nabvbar_menu.active {
        background: linear-gradient(to top, #ff0844 0%, #ffb199 100% ); 
        top:100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;w
    }
    #navbar__logo{
        padding-left: 25px;
        
    }
    .navbar_toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: white;
    }
    .navbar_item{
        width: 100%;       
    }
    .navbar_links{
        text-align: center;
        display: table;
        padding: 2rem;
        width: 100%;
    }
    #mobile_menu{
        position: absolute;
        top:20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar_btn{
        padding-bottom: 2rem;      
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;       
    }
    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile_menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}


.hero{
    background: black;
    background: linear-gradient(to right, #161616, black);
    padding: 400px 0;
}
.hero__container{

  /* tab-size: 2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading
{
    font-size: 100px;
    margin-bottom: 0px;
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
    background: linear-gradient(to right, #ff6a00, #ee0979); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
    text-align: center;

}

.heading2
{
    font-size: 100px;
    margin-bottom: 0px;
    color: white;
    text-align: center;

}

.hero_white
{
  font-size: 100px;
    margin-bottom: 0px;
    color: white;
}
.hero__heading span{
background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
background: linear-gradient(to right, #ff6a00, #ee0979); 
background-size: 100%;
-webkit-background-clip: text;
-moz-background-clip: text;
-webkit-text-fill-color: transparent;
-mo-text-fill-color: transparent;
}

.body{
    color: black;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus /
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/ The container <div> - needed to position the dropdown content /
.dropdown {
  position: relative;
  display: inline-block;
}

/ Dropdown Content (Hidden by Default) /
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/ Links inside the dropdown /
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/ Change color of dropdown links on hover /
.dropdown-content a:hover {background-color: #ddd;}

/ Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/*.About{
    background: black;
}

.about_heading{
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    color: white;
}
.about_image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_image{
    width: 120px;
    height: 120px;
    background: red;
    margin: 2px 50px;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(184, 2,2);

}

.about_image:hover{
    border: 3px solid #ff9184;
    
}
img{
    width: 116px;
    height: 116px;
    border-radius: 50%;

}

.about_info-container{
    width: 1100px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0px 0px 50px rgb(145,1,1);

}

.profile{
    width: 250px;
    height: 325px;
    border-radius: 15px;
    padding: 10px;
    margin: 0;
}

.about_name{
    margin-top: 80px;
    padding: 0px 15px;
    text-align: left;
    font-size: 50px;
    line-height: 20px;
}

.about_status{
    padding: 0px 20px;
    text-align: left;
    line-height: 20px;
    margin: 0;
}

.about_about{
    height: 240px;
    padding: 0px 20px;
}*/


body {
  font-family: 'Kumbh-sans', 'sans-serif';
  margin: 0;
  padding: 0;

  background: linear-gradient(to right, #161616, black);
}

.about_header {
  font-size: 50px;
  text-align: center;
  margin: 2%;
  background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
    background: linear-gradient(to right, #ff6a00, #ee0979); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: linear-gradient(to right, #161616, black); */
  background: linear-gradient(to right, #161616, black);
  /*background: #FF5F6D;  
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  
  background: linear-gradient(to right, #FFC371, #FF5F6D); */
  
}

.team-member {
  width: 20%;
  margin: 2%;
  text-align: center;
  position: relative;
  color: whitesmoke;
}

.team-member img {
    width: 120px;
    height: 120px;
    background-color: red;
    margin: 8px 85px;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(184, 2,2);
    /*width: 100%;
  height: auto;
  border-radius: 50%;*/
}

.team-member img:hover{
    width: 150px;
    height: 150px;
    border: 3px solid #ff9184;
}

.team-member h2 {
  margin: 1%;
  color:whitesmoke;
}

.info-btn {
        
        display: inline-block;
        padding: 18px 30px;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        border-radius: 100px;
        transition: all 0.2s ease-in-out;
      
        /* Default colors */
        background: #232526;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
        color: #fff;
        cursor:pointer;
}    
        /* Hover state */
.info-btn:hover {
          /* background-color: #3e8e41; */
          background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  
    background: linear-gradient(to right, #ff6a00, #ee0979); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.3s ease;
        }
      
        /* Active state */
.info-btn:active {
          transform: scale(0.95);
          
        }
      
.info-btn:focus {
          outline: none;
          /* box-shadow: 0 0 0 3px #fff, 0 0 0 6px rgba(224, 46, 2, 0.918); */
        }



.info-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 20px;
  padding: 2%;
  background-color: #f1f1f1;
  
  color:rgb(255, 255, 255);
  text-align: left;
}

.info-content.visible {
  display: block;
  padding: 12px 20px;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 100;
  background: linear-gradient(to right, #252525, rgb(17, 17, 17));
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .team-member {
    width: 40%;
  }
}

/*.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  
  .info-content {
    display: none; /*hide the element by default*/
  /*}
  
  .info-content.visible {
    display: block; /*make the element visible
  }*/

.sports_page{
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: linear-gradient(to right, #161616, black);

}
  
.sports_container{
    display: flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 40px 0;
}

.sports_container .sports_card{
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
                inset -5px -5px 15px rgba(255,255,255,0.1),
                        5px 5px 15px rgba(0,0,0,0.3),
                        -5px -5px 15px rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 30px;
}

.sports_container .sports_card ::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    /*background: rgba(255,255,255,0.1);*/
}

.sports_container .sports_card .sports_box{
    position: absolute;
    top: 20px;
    left:20px;
    right: 20px;
    bottom:20px;
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(255,255,255,0.1);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sports_container .sports_card .sports_box ::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 100%;
    /*background: rgba(255,255,255,0.1);jus removed this*/
    pointer-events: none;
}


.sports_container .sports_card .sports_box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(255,255,255,0.1);

}

.sports_container .sports_card .sports_box .sports_content{
    padding: 20px;
    text-align: center;

}

.sports_container .sports_card .sports_box .sports_content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(255,255,255,0.05);
}
.sports_container .sports_card .sports_box .sports_content h3{
    font-size: 1.8em;
    color: rgba(255,255,255,0.5);
    z-index: 1;
    transition: 0.5s;
}

.sports_container .sports_card .sports_box .sports_content p{
    font-size: 16px;
    font-weight: 300;
    color: white;
    z-index: 1;
    transition: 0.5s;
}

.dropbtn {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
    /*
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;*/
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}